{% extends 'core/layout.html' %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Our Website!</h1>
        <p class="lead">We provide innovative solutions to meet your needs.</p>
        <hr class="my-4">
        <p>Explore our services and discover what we can do for you.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="#" class="card-img-top" alt="Service 1">
                <div class="card-body">
                    <h5 class="card-title">Service 1</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="#" class="card-img-top" alt="Service 2">
                <div class="card-body">
                    <h5 class="card-title">Service 2</h5>
                    <p class="card-text">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="#" class="card-img-top" alt="Service 3">
                <div class="card-body">
                    <h5 class="card-title">Service 3</h5>
                    <p class="card-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
